@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.hidden {
  display: none;
}

.navbar {
  border: 2px solid #327228;
  height: 80px;
  background-color: transparent;
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  animation: apparition 1s;
  -webkit-animation: apparition 1s;
}

.navbar-nav {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}

.nav-item {
  font-weight: 700;
}

.nav-link {
  color: #327228 !important;
}

.nav-link:hover {
  color: #429935 !important;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.navbar-toggler {
  border: none !important;
  color: transparent !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  cursor: pointer;
}

.search-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #327228;
  position: fixed;
  z-index: 3333;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.cross {
  margin-top: 50px;
  cursor: pointer;
}

.nav-search {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
  font-weight: 700;
  font-size: 30px;
}

/* PRESENTATION */

.name-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 30%;
}

.me {
  animation: apparition 1.5s;
  -webkit-animation: apparition 1.5s;
}

.name-text {
  color: #327228;
  font-size: 32px;
  font-weight: 500;
  animation: move-one 1.1s ease-in-out;
  -webkit-animation: move-one 1.1s ease-in-out;
}

.name-title {
  color: #327228;
  font-size: 64px;
  font-weight: 700;
  animation: move-two 0.8s ease-in-out;
  -webkit-animation: move-two 0.8s ease-in-out;
}

.name-job {
  color: white;
  background-color: #327228;
  width: 370px;
  height: 35px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  animation: move-three 0.5s ease-in-out;
  -webkit-animation: move-three 0.5s ease-in-out;
}

.top-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.pitch {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  animation: apparition 2s;
  -webkit-animation: apparition 2s;
}

.text-pitch {
  color: #327228;
  font-size: 24px;
  font-weight: 400;
  margin-top: 80px;
}

/* LANGAGES ET COMPETENCES */

.title-skills {
  text-align: center;
  color: #327228;
  font-weight: 700;
  font-size: 60px;
  margin-top: 80px;
  animation: apparition 2.5s;
  -webkit-animation: apparition 2.5s;
}

.skills {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  background-color: #327228;
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: apparition 2.5s;
  -webkit-animation: apparition 2.5s;
}

.skills-global {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  width: 70%;
}

.skills-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #327228;
  font-weight: 600;
  margin-top: 30px;
}

.line {
  width: 30%;
  height: 2px;
  background-color: #327228;
  margin: auto;
  margin-top: 40px;
}

.comp {
  width: 230px;
}

.competence {
  font-size: 13px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #327228;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #327228;
  border-radius: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 840px) {
  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
  .name-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
  }
  .pitch {
    margin-top: -40px;
  }

  .skills-global {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  svg {
    width: 120px;
  }
  .logo {
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .title-skills {
    font-size: 45px;
  }
}

/* ANIMATION */

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-one {
  0% {
    transform: translateX(-180%);
    -webkit-transform: translateX(-180%);
    -moz-transform: translateX(-180%);
    -ms-transform: translateX(-180%);
    -o-transform: translateX(-180%);
    opacity: 0;
  }
  70% {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes move-two {
  0% {
    transform: translateX(-180%);
    -webkit-transform: translateX(-180%);
    -moz-transform: translateX(-180%);
    -ms-transform: translateX(-180%);
    -o-transform: translateX(-180%);
    opacity: 0;
  }
  70% {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes move-three {
  0% {
    transform: translateX(-180%);
    -webkit-transform: translateX(-180%);
    -moz-transform: translateX(-180%);
    -ms-transform: translateX(-180%);
    -o-transform: translateX(-180%);
    opacity: 0;
  }
  70% {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    opacity: 1;
  }
}
